/* ==========================================================================
   COLORS
   ========================================================================== */

$grey-dark-x:		#222;
$grey-dark:			#333;
$grey-mid:			#999;
$grey-light:		#aaa;
$grey-light-x:		#ccc;
$grey-light-xx:		#ddd;
$grey-light-xxx:	#d0d0d0;

$background: 		#FCF9F5;
$red: 				#EC0000;
$text-color: 		#595959;
$rule: 				#E0DADA;
$white: 			#fff;